.menu-dropdown-container {
  position: absolute;
  top: 200px;
  right: 50%;

  .menu-dropdown-centering-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    position: relative;
    right: -50%;
    padding: 10px 0;
    background-color: white;
    box-shadow: 0 0 20px #999;
    z-index: 1;
    
    hr {
      width: 90%;
    }
    
    button {
      background-color: transparent;
      border: none;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 300;
      cursor: pointer;
      
      &:focus {
        border: none;
        outline: none;
      }
    }
    
    .menu-dropdown-item {
      padding: 5px 20px;
      font-size: 20px;
      /*color: white;*/
      
      &:hover {
        opacity: 0.5;
      }
    }
  }
}