$errorColor: #ff3a24;

.products-page-container {

  .loading-div {
    font-size: 22px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .error-message {
    font-size: 26px;
    color: $errorColor;
    text-align: center;
  }
}